body
{

	font-size: 16px; /*1em*/
	margin: 0 auto;/*centramos el body*/
	max-width: 1024px; /*empresa-cliente*/
	min-width: 1024px;
	
	
}
form{
	box-shadow: 15px 15px 15px black;
	max-width: 170px;
	
}