body
{
	font-size: 16px; /*1em*/
	margin: 0 auto;/*centramos el body*/
	max-width: 1078px; /*empresa-cliente*/
	min-width: 1078px;
}
header nav
{ 
	/*border: 1px solid red;*/
	/*no funciona por la mancha de pintura 
	text-align: center; */
	margin-left: 220px;
}
header nav ul li
{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;



	/*text-decoration: underline ;*/

}
header input
{
	float: right;
	margin-right: -200px;
	position: 	relative;
	margin-top: 15px;
}
#granthams
{
	margin-top: 20px;
	margin-left: 25px;
}
#paint
{

	float: right;
}
#primerseccion
{
	height:  318px;
	margin-top:  60px;

}
#primerseccion article
{
	display: inline-block;
	vertical-align: top;
}
#secc01art01
{

	margin-right: -30px;
	width: 60%;
}
#secc01art02
{
	margin-left: 60px;
    width: 30%;
}
#secc01art02 ul
{

	list-style: none;
}
#secc01art02 ul li:before
{
	 content: "•   ";
	 color: #FFCCE5;
	 margin-left: -33px;
}

#bgoffer
{
	
	position: relative;
	left:-73px ;
	top: -400px ;

}
#segundaseccion article
{
	text-align: right;

}
#terceraseccion article
{
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin-right: 15px;
}
#terceraseccion article img
{
	vertical-align: middle;
}
#terceraseccion article input[type="button"]
{
	border-radius: 5px;
	color:white;
	background-color: #63C41C;
}
#carticle
{
	margin-top: 80px;
}
.distintotitulo
{
	font-size: 1.5em;
}

.comuntitulo
{
	font-size: 1em;

	
}
.colorrosa
{
	color: #FF0099;
}
.rosagrande
{
	font-size: 3.5em;

}
.rosamediano
{
	font-size: 2em;
	padding-right: 210px;
}
.nito
{
	font-weight: bold;
}

